body, html {
    height: 100%;
    font-family: Tahoma;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

#command-container {
  position: fixed;
  z-index: 2;
}

#command-container label {
  color: white;
  float: left;
  margin: 0 20px;
}

canvas {
  background-color: black;
  position: absolute;
}
